.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
  background-color: #282c34;
}

.sports-list-box {
  /* padding: 10px; */
  width: 100%;
  overflow-y: auto;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
  width: 50%;
  padding: 10px;
}

.list-item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-item:hover {
  background-color: white;
  color: black;
  transition-duration: .2s;
}

h2 {
  padding: 10px;
  margin: 0;
}


ul {
  list-style-type: none;
}

