.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
}

.side-panel {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
  background-color: #282c34;
}

h2 {
  padding: 10px;
}

ul {
  list-style-type: none;
}

